/* Прелоадер */
.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #2D2D2D;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 1.5s ease;
}

.preloader-logo {
  width: 35vw; /* логотип теперь не на весь экран */
  max-width: 300px;
  height: auto;
  transition: all 2s ease;
}

/* Когда логотип уходит влево */
.logo.move-left {
  position: fixed;
  top: 20px;
  left: 30px;
  width: 80px;
  opacity: 0.6;
  transition: all 1.5s ease;
}

.preloader.fade-out {
  opacity: 0;
  pointer-events: none;
}
